.nav {

    position: fixed;
    right: 0;
    left: 0;
    
    top: 20px;
    margin: auto;

    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    &__item {
        position: relative;
        display: inline-block;

        padding: 10px;
        background-color: #00ac95;
        color: #ffffff;
        
        margin-right: 30px;
        
        cursor: pointer;
        
        user-select: none;
		
		&:hover .dropdown__level-1 {
			visibility: visible;
			opacity: 1;
		}
    }
}