.block-cards {

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 25%;

        border: 1px solid $brd;
        border-radius: 3px;

        margin-bottom: 25px;
        padding: 15px;
    }

    &__id {
        font-size: 10px;
        color: $id;
    }

    &__image {
        width: 100px;
        height: 100px;
    }

    &__title {
        font-size: 16px;
        font-weight: 700;

        color: $ttl;

        margin-bottom: 10px;

        cursor: pointer;
    }

    &__description {
        margin-bottom: 10px;
    }

    &__prices {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        display: block;

        font-weight: 700;

        flex: 1;
        text-align: center;
        margin-right: 10px;
    }

    &__button {
        font-weight: 700;
        color: $btn;

        flex: 1;
    }
}