.table_cell {
    vertical-align: middle;
}

.table-cards {
    
    &__inner {
        max-width: 800px;
        display: table;
        table-layout: fixed;
    }

    &__item {
        display: table-row;
        border: 1px solid black;
    }

    &__header {
        display: table-cell;
        width: $cw;
        text-align: center;
    }

    &__id {
        display: block;
        font-size: 10px;
        color: $id;
    }

    &__image {
        width: 80px;
    }

    &__title {
        display: table-cell;
        width: $cw;

        font-size: 16px;
        font-weight: 400;
        vertical-align: middle;

        color: $ttl;

        cursor: pointer;
    }

    &__description {
        display: table-cell;
        width: $cw;
        padding-left: 40px;
    }

    &__prices {
        display: table-cell;
        width: $cw;
        text-align: center;
    }

    &__price {
        font-weight: 700;
    }

    &__button {
        display: none;
    }
}