// Vendors

@import 'vendors/reset';                    // Сброс CSS


// Vars

@import 'vars/colors';


// Fonts

// Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');


// Blocks

@import 'blocks/container';
@import 'blocks/nav';
@import 'blocks/dropdown';
@import 'blocks/button';
@import 'blocks/main';
@import 'blocks/block-cards';
@import 'blocks/table-cards';


// Interface

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.align-center {    
    display: flex;
    align-items: center;
}