// Vendors

@import 'vendors/reset';				// Сброс CSS

// Blocks

@import 'blocks/container';

// Interface

body {
    color: white;
    background-color: $bg-main;
    font-family: 'Roboto', sans-serif;

    
    background-image: url('../img/header/main-bg.jpg');
    background-repeat: repeat-x;
    background-position: top center;
}